/* 
. = classes
# = ids
*/

.Calendar {
    margin-left: 500px;
    margin-right: 500px;
}

.MondayContainer div {
    border: 1px solid rgb(0, 0, 0);
    width: 20%;
    display: inline-block
}
.TuesdayContainer div {
    border: 1px solid rgb(0, 0, 0);
    width: 20%;
    display: inline-block
}
.WednesdayContainer div {
    border: 1px solid rgb(0, 0, 0);
    width: 20%;
    display: inline-block
}
.ThursdayContainer div {
    border: 1px solid rgb(0, 0, 0);
    width: 20%;
    display: inline-block
}
.FridayContainer div {
    border: 1px solid rgb(0, 0, 0);
    width: 20%;
    display: inline-block
}
.SaturdayContainer div {
    border: 1px solid rgb(0, 0, 0);
    width: 20%;
    display: inline-block
}
.SundayContainer div {
    border: 1px solid rgb(0, 0, 0);
    width: 20%;
    display: inline-block
}

label {
    /* border: 3px solid green; */
    display: inline-block

}

.monday .tuesday .wednesday 
.thursday .friday .saturday 
.sunday {
    /* display: inline-block; */
    /* border: 3px solid rgb(0, 0, 0); */

}

