.hero {
    width: 100%;
    height: 100%;
    background-color: var(--darkrey);

}

.container {
    max-width: 1240px;
    padding: 0 1rem;
    margin: auto;
}

.hero .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.col-1{
    padding: 1rem 1rem 1rem 0;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.col-1 h1{
    font-size: 3rem;
    font-weight: 700;
    color: var(--white);
}
