/* body 
.wrapper {
    background-image: url('/Users/kassandraeam/Desktop/Solo_Project/assemble-prime-solo-project/public/images/tim-stief-dH6IjhWHNQQ-unsplash.jpg');
    background-size: 50% auto;
    width: 100%;
}

html {
    height: 100%;
    background-color: cyan;
} */

/* body {
    height: 100%;
    background-image: url('/Users/kassandraeam/Desktop/Solo_Project/assemble-prime-solo-project/public/images/tim-stief-dH6IjhWHNQQ-unsplash.jpg');

    background-size: 50% auto;
} */